body{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(230, 230, 230);
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-size: 2.9rem;
  font-style: bold;
  font-weight: 400;
  color: rgb(46, 39, 31);
  text-transform: uppercase;
}

hr{
  border-bottom: 4px solid rgb(46, 39, 31);
  padd
  display: block;
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.diary-card {
  margin: 10px;
}